.InfoBox {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 90px;
    position: absolute;
    margin-left: 530px;
}

.cardContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

